*{
  overflow: hidden;
}

body {
    background: #eeeeee;
    font-family: tahoma, verdana, sans serif;
  }
  h1{
    position: absolute;
    left: 36%;
    top: 45%;
    color:white;
    font-size:5rem;
    width: 33%;
  }

  #instructions{
    position:absolute;
    right:0;
    width: 27%;
    color: white;
    top: 50%;
    margin: 2%;
  }
  
  canvas {
    /* margin-left: 1rem; */
    /* margin-bottom: 1rem;  */
    margin-top: -8px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    background: #fafafa;
    position: absolute;
    top:0;
    left:0;
  }

  #score-info{
    position: absolute;
    bottom: 0;
    width: 33%;
    height: 7%;
    font-size: 20px;
    color:pink; 
    display: flex;
    justify-content: space-evenly;
  }

  .game-display{
    width: 50%;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    color:black;
  }
  
  #controls{
    color: white;
    position: absolute;
    height: 35%;
    right:2%;
    bottom:0;
    width: 27%;
  }

  #controls-guide{
    position: absolute;
    bottom:14%;
    width: 33%;
    left:30px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
  }

  #controls-guide > p{
    margin: 0 11%;
  }
  
  #volumeLabel{
    margin-left: 1rem;
  }
  
  section{
    margin-bottom: 1rem;
  }
  
  #playButton{
    font-size: 1.2rem;
    width: 6rem;
  }
  
  button[data-playing="yes"]:after{
    content: "Pause";
  }
  
  button[data-playing="no"]:after{
    content: "Play";
  }
  
  #fsButton{
    font-size: 1.2rem;
    width: 8rem;
  }