*{
  overflow: hidden;
}

body {
    background: #eeeeee;
    font-family: tahoma, verdana, sans serif;
  }
  
  canvas {
    /* margin-left: 1rem; */
    /* margin-bottom: 1rem;  */
    margin-top: -8px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    background: #fafafa;
    position: absolute;
    top:0;
    left:0;
  }

  #ui-container{
    position: absolute;
    right:0;
    bottom:0;
    width: 30%;
  }

  #score-info{
    height: 100px;
    width: 200px;
    font-size: 20px;
    color:pink; 
    display: flex;
    justify-content: space-evenly;
  }
  
  #controls{
    color: white;
  }
  
  #volumeLabel{
    margin-left: 1rem;
  }
  
  section{
    margin-bottom: 1rem;
  }
  
  #playButton{
    font-size: 1.2rem;
    width: 6rem;
  }
  
  button[data-playing="yes"]:after{
    content: "Pause";
  }
  
  button[data-playing="no"]:after{
    content: "Play";
  }
  
  #fsButton{
    font-size: 1.2rem;
    width: 8rem;
  }